/* HOME PAGE */

#header {
    margin-left: 350px;
}

.container {
    margin-top: 50px;
}

h1 {
    color: white;
    margin-top: -50px;
    margin-left: 475px;
    font-size: 20px;
    font-family: 'Atomic Age', cursive;
    /* font-family: 'Bigelow Rules', cursive; */
    /* font-family: 'Bahiana', cursive; */
    /* font-family: 'IM Fell DW Pica SC', serif; */

}

body {
    background-image: url("../images/upsidedown.jpg");
    color: white;
}

#header {
    color: white;
    margin-top: 10px;
    margin-left: 350px;
    font-size: 50px;
    font-family: 'Atomic Age', cursive;


}

.container1 {
    margin-left: 250px;
    
}


#col1 {
    font-family: 'Atomic Age', cursive;
    font-size: 30px;
    padding-right: 300px;

}

#col2 {
    font-family: 'Atomic Age', cursive;
    font-size: 30px;
    padding-left: 200px;

}

