/* HOME PAGE */
#logo {
    margin-top: 50px;
    justify-content: center;
}

h1 {
    color: white;
    margin-top: -50px;
    margin-left: 485px;
    font-size: 20px;
    font-family: 'Atomic Age', cursive;
}

body {
    background-image: url("../images/background3.jpg");
    background-size: 125%;
    color:white;
}

#body2 {
    background-image: url("../images/background3.jpg");
    background-size: 125%;
}

#header {
    color: white;
    margin-top: 10px;
    margin-left: 350px;
    font-size: 50px;
    font-family: 'Atomic Age', cursive;
}

#col1 {
    font-family: 'Atomic Age', cursive;
    font-size: 50px;
    text-align: center;
}

#home {
    font-family: 'Atomic Age', cursive;
    font-size: 30px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
}

#col4 {
    font-family: 'Atomic Age', cursive;
    font-size: 30px;
    padding-left: 300px;
    margin-top: 10px;
}

h2 {
    font-family: 'Atomic Age', cursive;
}

h4 {
    font-family: 'Atomic Age', cursive;
}

h5 {
    font-family: 'Lucida Sans';
    font-size: 20px;
}

#submit {
    text-align: center;
    margin-top: 20px;
}

.modal-header {
    color: black;
    font-size: 20px;
    margin-right: 0;
}

#matchImg {
    color: black;
}

.chosen-select{
    background-color: white;
    color: black;
    margin-top: 10px;
}

#formName, #formImage {
    background-color: black;
    color: white;
    margin-top: 10px;

}

#matchName {
    color: black;
    font-size: 20px;
}

#bottom, #top {
padding-left: 75px;
/* background-color: black; */
}

#bottom {
    padding-bottom: 20px;
}